.navbar-nav {
    a {
        outline: none !important;
    }
}

// row елемент в профиле
.profile-input {
    margin-bottom: 5px;
}

// контейнер аватарки профиля
.av-container {
    img {
        margin-bottom: 5px;
    }
}