.navbar-nav {
    a {
        outline: none !important;
    }
}

// контейнер аватарки в странице профиля
.av-container {
    img {
        margin-bottom: 5px;
    }
}

.ellipsis {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

// логотип в навбаре
.navbar-logo {
    margin-top: -10px;
}

// немного контроля за отступом, там где нет <p> и не придумывать разные классы только для этого
.voffset { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/*
  прячем этот говенный Searching..

  TODO: хорошоб найти способ показать загрузку

*/
.select2-results {

    .loading-results {
        display: none;
    }
}