<template name="appLayout">
  <div class="container">
    <header>
      {{> yield region='header'}}
    </header>
    <article>
      {{> yield}}
    </article>
    <footer>
      {{> yield region='footer'}}
    </footer>
  </div>
</template>

<template name="appMenu">
  {{! взято с бутстрапа промера}}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ pathFor 'home' }}"><img class="s-navbar-logo" src="/img/brand.png"></a>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="collapse-navbar">
        <ul class="nav navbar-nav">
          <li class="{{ifActiveRoute "/profile/messages"}}" data-toggle="tooltip" title="Заказы в вашем регионе">
            <a href="/jobs">Заказы</a>
          </li>
          <li class="{{ifActiveRoute "/profile/messages"}}" data-toggle="tooltip" title="Мастера в вашем регионе">
            <a href="/masters">Мастера</a>
          </li>
          {{#if currentUser}}
            <li class="{{ifActiveRoute "/profile/messages"}}" data-toggle="tooltip" title="Сообщения вам">
              <a href="/profile/messages">Сообщений <span class="badge">0</span></a>
            </li>
          {{/if}}
        </ul>
	<ul class="nav navbar-nav navbar-right">
          {{#if isAdmin}}
            {{>adminNavItems}}
          {{/if}}

          {{! смотри в accounts.html}}
          {{ > loginButton}}
	</ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>

<template name="adminNavItems">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="yes" title="Администрирование">
      <i class="fa fa-gavel"></i>
      Админ <span class="caret"></span>
    </a>
    {{! смотри в admin_shared.html покачто там шаблон

      TODO: перенести в отдельный контроллер админку, когда будет свой pagionation

      }}
    <ul class="dropdown-menu">
      {{>adminNavigationItems}}
    </ul>
  </li>
</template>

<template name="appFooter">
  
</template>
