<!--
          Сейчас футер и меню будет в одном это файле. 
-->

<template name="appLayout">
  <div class="container">
    <header>
      {{> yield region='header'}}
    </header>
    <nav>
      {{> yield region='navigation'}}
    </nav>
    <article>
      {{> yield}}
    </article>
    <footer>
      {{> yield region='footer'}}
    </footer>
  </div>
</template>

<template name="appNavigation">
  <ul class="nav nav-tabs">
    <li class="{{ifActiveRoute "/profile"}}">
      <a href="/profile">Цены, фото</a>
    </li>
    <li class="{{ifActiveRoute "/profile/personal"}}">
      <a href="/profile/personal">Личные данные</a>
    </li>
    <li class="{{ifActiveRoute "/profile/messages"}}">
      <a href="/profile2">Сообщения <span class="badge">0</span></a>
    </li>
    {{#if isAdmin}}
      <li class="{{ifActiveRouteRE "users"}}">
        <a href="/users">Пользователи</a>
      </li>
      <li class="{{ifActiveRouteRE "events"}}">
        <a href="/events">Сис. события</a>
      </li>
    {{/if}}
  </ul>
</template>

<template name="appMenu">
  {{! взято с бутстрапа промера}}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ pathFor 'home' }}"><img class="navbar-logo" src="/img/brand.png"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="collapse-navbar">
	<ul class="nav navbar-nav navbar-right">
          {{! смотри в accounts.html}}
          {{ > loginButton}}
	</ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>

<template name="appFooter">
  
</template>
