<template name="appCabinet">
  <div class="container">
    <header>
      {{> yield region='header'}}
    </header>
    <nav>
      {{> yield region='navigation'}}
    </nav>
    <article>
      {{> yield}}
    </article>
    <footer>
      {{> yield region='footer'}}
    </footer>
  </div>
</template>

<template name="appNavigation">
  <ul class="nav nav-tabs">
    <li class="{{ifActiveRouteAt "/profile/portfolio"}}">
      <a href="/profile/portfolio">
        <i class="fa fa-list-alt"></i>
        Портфолио</a>
    </li>
    <li class="{{ifActiveRoute "/profile/cats"}}">
      <a href="/profile/cats">
        <i class="fa fa-newspaper-o"></i>
        Мои услуги
      </a>
    </li>
    <li class="{{ifActiveRoute "/profile/personal"}}">
      <a href="/profile/personal">
        <i class="fa fa-cog"></i>
        Личные данные
      </a>
    </li>
  </ul>
</template>
