<template name="adminNavigation">
  <ul class="nav nav-tabs">
    {{>adminNavigationItems}}
  </ul>
</template>

<template name="adminNavigationItems">
  <li class="{{ifActiveRouteRE "users"}}">
    <a href="/users">
      <i class="fa fa-users fa-fw"></i>
      Пользователи
    </a>
  </li>
  <li class="{{ifActiveRouteRE "events"}}">
    <a href="/events">
      <i class="fa fa-crosshairs fa-fw"></i>
      Сис. события
    </a>
  </li>
  <li class="{{ifActiveRoute "/adminCat"}}">
    <a href="/adminCat">
      <i class="fa fa-newspaper-o fa-fw"></i>
      Категории
    </a>
  </li>
  <li class="{{ifActiveRoute "/admin_info"}}">
    <a href="/admin_info">
      <i class="fa fa-cloud fa-fw"></i>
      Серв. информация
    </a>
  </li>
</template>
