<template name="adminNavigation">
  <ul class="nav nav-tabs">
    {{>adminNavigationItems}}
  </ul>
</template>

<template name="adminNavigationItems">
  <li class="{{ifActiveRouteAt "/admin/users"}}">
    <a href="/admin/users">
      <i class="fa fa-users fa-fw"></i>
      Пользователи
    </a>
  </li>
  <li class="{{ifActiveRouteAt "/admin/events"}}">
    <a href="/admin/events">
      <i class="fa fa-crosshairs fa-fw"></i>
      Сис. события
    </a>
  </li>
  <li class="{{ifActiveRoute "/admin/cat"}}">
    <a href="/admin/cat">
      <i class="fa fa-newspaper-o fa-fw"></i>
      Категории
    </a>
  </li>
  <li class="{{ifActiveRoute "/admin/info"}}">
    <a href="/admin/info">
      <i class="fa fa-cloud fa-fw"></i>
      Серв. информация
    </a>
  </li>
  <li class="{{ifActiveRoute "/admin/theme"}}">
    <a href="/admin/theme">
      <i class="fa fa-image fa-fw"></i>
      Theme test
    </a>
  </li>

</template>
