<template name="usersAdmin">
  
  {{>adminNavigation}}

  <h1>Список пользователей в системе</h1>

  <div class="row s-voffset">
    <div class="col-md-5 panel panel-info">
      <div class="panel-heading">
        Создать пользователя
      </div>
      <div class="panel-body">
        {{>formNewUserByAdmin}}
      </div>
      <div class="panel-footer">
        Создаст юзера с паролем "user", штука для тестирования, потом будет удалена, возможно
      </div>
    </div>
  </div>
  
  <div class="pull-right">
    {{> pagesNav}}
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>{{> usersAdminSorter sort="phone" label="Телефон"}}</th>
        <th>{{> usersAdminSorter sort="profile.completeName" label="Контактое лицо"}}</th>
        <th>{{> usersAdminSorter sort="createdAt" label="Создан"}}</th>
        <th>{{> usersAdminSorter sort="isMaster" label="Роль"}}</th>
        <th>{{> usersAdminSorter sort="isAdmin" label="Админ"}}</th>
      </tr>
      <tr>
        <th><input id="searchPhone"   type="text" class="form-control" placeholder="Фильтровать"></th>
        <th><input id="searchContact" type="text" class="form-control" placeholder="Фильтровать"></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-striped">
      {{> pages}}
    </tbody>
  </table>
</template>

<template name="userInfoForAdmin">
  <tr class="{{class}}">
    <td>{{formatedPhone}}</td>
    <td>
      {{>avatar user=this size="small" shape="rounded"}}
      {{ profile.completeName }}
    </td>
    <td><span data-toggle="tooltip" data-placement="top" title="{{created}}">{{fromNow}}</span></td>
    <td>{{role}}</td>
    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          {{#if isAdmin}}
            Админ
          {{else}}
            Нет
          {{/if}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {{#unless isAdmin}}
            <li><a href="#" data-action="make-admin">
              <i class="fa fa-fw fa-arrow-circle-up"></i>
              Сделать админом</a></li>
              {{else}}
              <li><a href="#" data-action="remove-admin">
                <i class="fa fa-fw fa-arrow-circle-down"></i>
                Убрать админа</a></li>
          {{/unless}}
          <li class="divider"></li>
          <li><a href="#" data-action="logout">
                <i class="fa fa-fw fa-sign-out"></i>
                Принудительно разлогинить</a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
</template>

<template name="usersAdminSorter">
  {{ label }}<a href="#" ><i class="fa fa-sort fa-fw"></i></a>
</template>

<template name="formNewUserByAdmin">
  <form class="form-horizontal">
    {{>profileInputHelperPhone name="phone" label="телефон"}}
    {{>profileInputHelper name="name" label="ФИО" icon="fa fa-user" placeholder="Ивано Петрович"}}
    <div id="switch-fgrp" class="form-group has-feedback" style="margin-bottom: 25px">
      <label class="col-md-5 control-label" for="inputSuccess3">Тип профиля</label>
      <div class="col-md-7">
        <div class="input-group">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
              <input type="radio" name="status" id="customer" autocomplete="off"> Заказчик
            </label>
            <label class="btn btn-default">
              <input type="radio" name="status" id="master" autocomplete="off"> Исполнитель
            </label>
          </div>
        </div>
      </div>
    </div>
    {{>profileSubmitButton text="Создать пользователя" class="btn-danger"}}
  </form>
</template>
