<template name="adminCategories">
  {{>adminNavigation}}

  <h2> Категории</h2>

  <p>
    Категории, тематика или можно назвать еще разделы в системе, они используются, например, в поиске фрилансеров.
  </p>

  <ul>
    {{#with rootCategory }}
      {{> catTreeNodeTemplate}}
    {{/with }}
  </ul>
  {{#if isInitMode}}
    <div class="row">
      <h3>Импорт</h3>
      {{#if bulkUpload}}
        {{>spinner}}
      {{else}}
        <p>
          Текст для импорта примерно ниже, пробелы не важны, вложенность категорий - по "*",
          "-" - цены, "+" детальные цены. Ниже пример. Смотри также в CATEGORIES.org.
          <pre>
* Отделочные работы
** Изготовление и монтаж лепнины
  - Демонтаж лепнины | м2
  - Монтаж лепнины из полиуретана | м/п
    + Монтаж лепных карнизов и молдингов | м/п
    + Монтаж лепных входных групп | шт.
** Малярные, штукатурные работы
  - Демонтажные работы | м2
    + Демонтаж штукатурки с потолка | м2
    + Демонтаж штукатурки со стен | м2
          </pre>
        </p>
        <div class="form-group">
          <textarea class="form-control" name="import" rows="15"></textarea>
        </div>
        <div class="form-group">
          <button data-action="import" class="btn btn-default">
            Import
          </button>
        </div>
      {{/if}}
    </div>
  {{/if}}
</template>


<template name="catTreeNodeTemplate" >
  <li>
    {{> catItem ctx=this }}

    {{#if hasChildren}}
      <ul>
        {{#each children}}
          {{> catTreeNodeTemplate}}
        {{/each}}
      </ul>
    {{/if}}
  </li>
</template>

<template name="catItem">
  {{! ctx - это елемент из колекции Categories }}
  {{#if edit}}
    <form class="form-horizontal">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" value="{{ctx.n}}" name="newName" type="text"
                 placeholder="Имя новой категории">
          <div class="input-group-btn">
            <button data-action="save"   type="submit" class="btn btn-success">Сохранить</button>
            <button data-action="cancel" type="button" class="btn btn-warning">Отменить</button>
          </div>
        </div>
      </div>
    </form>
  {{else}}

    {{! Рисуем название категории 
       Если эта категория удалена, нарисуем подругому ее}}
    <span data-action="edit">
      {{#if hasChildren}}
        <strong>
          {{>catItemName name=ctx.n rm=ctx.rm}}
        </strong>
      {{else}}
        {{>catItemName name=ctx.n rm=ctx.rm}}
      {{/if}}
    </span>

    {{#if new}}

      <ul>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                Подкатегория
              </span>
              <input class="form-control" name="category" type="text"
                     placeholder="Имя новой категории">
              <div class="input-group-btn">
                <button data-action="saveNew"   type="submit" class="btn btn-success">Сохранить</button>
                <button data-action="cancelNew" type="button" class="btn btn-warning">Отменить</button>
              </div>
            </div>
          </div>
        </form>
      </ul>  
    {{else}} 

      {{! ниже кнопки разные}}
      {{#if ctx._id}}
        <button data-action="edit" title="Редактировать" class="btn btn-link">
          <i class="fa fa-pencil"></i>
        </button>
        {{#if ctx.rm}}
          <button {{disabledRestore}} data-action="restore" title="Востановить" class="btn btn-link">
            <i class="fa fa-share"></i>
          </button>
        {{else}}
          <button data-action="remove" title="Удалить (скрыть от юзера)" class="btn btn-link">
            <i class="fa fa-trash-o"></i>
          </button>
        {{/if}}
        {{#if editPrice}}
          <button data-action="hidePrice" title="Скрыть цены" class="btn btn-link">
            <i class="fa fa-angle-up"></i>
            <i class="fa fa-usd"></i>({{prices}})
          </button>
        {{else}}
          <button data-action="showPrice" title="Показать цены" class="btn btn-link">
            <i class="fa fa-angle-down"></i>
            <i class="fa fa-usd"></i>({{prices}})
          </button>
        {{/if}}
      {{/if}}
      {{#unless ctx.rm}}
      <button data-action="new" title="Создать под категорию" class="btn btn-link">
        <i class="fa fa-plus"></i>
      </button>
      {{/unless}}
    {{/if}}
  {{/if}}
  {{#if ctx._id}}
    {{#if editPrice}}
      {{>catPriceEditor category=ctx._id}}        
    {{/if}}
  {{/if}}
</template>

<template name="catItemName">
    {{#if rm}}
      <del>
        {{name}}
      </del>
      (Удалено)
    {{else}}
        {{name}}
    {{/if}}
</template>
