<template name="usersAdmin">
  {{> profileMenu }}

  <h1>Список пользователей в системе</h1>
  
  <div class="pull-right">
    {{> pagesNav}}
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>{{> usersAdminSorter sort="phone" label="Телефон"}}</th>
        <th>{{> usersAdminSorter sort="profile.completeName" label="Контактое лицо"}}</th>
        <th>{{> usersAdminSorter sort="createdAt" label="Создан"}}</th>
        <th>{{> usersAdminSorter sort="isMaster" label="Роль"}}</th>
        <th>{{> usersAdminSorter sort="isAdmin" label="Админ"}}</th>
      </tr>
      <tr>
        <th><input id="searchPhone"   type="text" class="form-control" placeholder="Фильтровать"></th>
        <th><input id="searchContact" type="text" class="form-control" placeholder="Фильтровать"></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-striped">
      {{> pages}}
    </tbody>
  </table>
</template>

<template name="userInfoForAdmin">
  <tr>
    <td>{{formatedPhone}}</td>
    <td>
      <img class="img-rounded" src="{{avatarUrlMicro profile.avatar}}">
      {{ profile.completeName }}
    </td>
    <td><span data-toggle="tooltip" data-placement="top" title="{{created}}">{{fromNow}}</span></td>
    <td>{{role}}</td>
    <td>{{isAdmin}}</td>
  </tr>
</template>

<template name="usersAdminSorter">
  {{ label }}<a href="#" ><i class="fa fa-sort fa-fw"></i></a>
</template>
