<template name="profilePersonal">

  <h1>Личные данные</h1>

  <legend>Регистрационные данные</legend>
  <div class="row">
    <div class="col-md-8">
      {{>profileInput label="Телефон (вход)" t="profileLoginPhone"
        popover="Этот телефон используется для входа на сайт, другие не видят его если не указан как контактной."
        }}
      {{>profileInput label="Пароль" t="profileChangePassword"
        popover="Ваш первый пароль был отправлен SMS на ваш телефон. Вы можете сменить его здесь."
        }}
    </div>
  </div>
  <legend>Публикуемые данные</legend>

  <div class="row">
    <div class="col-md-8">
      {{>profileInput label="Контактное лицо" t="profileContactName"
        popover="Вы можете оставить только инициалы, но людям приятно знать с кем имеют честь разговаривать."
        }}

      {{>profileInput label="Фотография" t="profileAvatar"}}

      {{#if isMaster}}
        {{>profileInput label="Описание деятельности" t="profileOverview"
          popover="Краткое описание. Именно это увидят пользователи в каталоге исполнителей"
          }}
        {{>profileInput label="Подробное описание деятельности" t="profileDescribe"
          popover="Подробно опишите какие работы вы выполняете."
          }}
      {{/if}}
      {{>profileInput label="Вебсайт" t="profileWebsite"
        popover="Если у вас есть веб сайт укажите его"
        }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {{>profileInput label="Контакты" t="profileContacts"
        popover="Контакты по которым с вами могут связаться."
        }}
      <div id="profileModal" class="modal" role="dialog" arria-hidden="true">
        {{ > Template.dynamic template=currentModal }}
      </div>
    </div>
    <div class="col-md-4">
      {{>profileQRcode}}
    </div>
  </div>
</template>

<template name="profileQRcode">
  {{user}}
  <div data-content="QR код может быть использован как способ для добавления ваших контактных данных в адресную книгу, для системы android таким приложением может быть, например, Barcode Scanner"
       data-title="QR code" data-placement="auto right" data-trigger="hover" data-toggle="popover" data-delay='{"show":"300", "hide":"400"}'>
    <div id="qr-profile" style="width:100px; height:100px; margin-top:15px;"></div>
  </div>  
</template>

<template name="profileInput">
  {{! bootstrap grid

        @label - описание поля
        @t - имя шаблона с виджетами
        @popover - текст подсказки

        }}
  <div class="row profile-input">
    <div class="col-md-4 col-sm-4">
      <p class="text-right">
        <label>
          {{label}}
        </label>
      </p>
    </div>
    {{#if popover}}
      <div class="col-md-8 col-sm-8" data-content="{{popover}}"
           data-title="{{label}}" data-placement="auto right" data-trigger="hover" data-toggle="popover" data-delay='{"show":"300", "hide":"100"}'>
        {{ > Template.dynamic template=t }}
      </div>
    {{else}}
      <div class="col-md-8 col-sm-8">
        {{ > Template.dynamic template=t }}
      </div>
    {{/if}}
  </div>
</template>

<!-- Ниже шаблоны полей профиля -->

<template name="profileLoginPhone">
  <div class="input-group">
    <span class="input-group-addon">{{ currentPhone }}</span>
    <div class="input-group-btn">
      <a id="changeLoginPhone" href="#" class="btn btn-default">
        Изменить
      </a>
    </div>
  </div>
</template>

<template name="profileChangePassword">
  <a id="changePassword" href="#" class="btn btn-default">
    Изменить пароль
  </a>
</template>

<template name="profileContactName">
  {{#if edit}}
    {{>formContactName contactName=contactName}}
  {{else}}
    <div class="input-group">
      <span class="input-group-addon">{{ contactName }}</span>
      <div class="input-group-btn">
        <button data-action="edit" class="btn btn-default">
          Изменить
        </button>
      </div>
    </div>
  {{/if}}
</template>

<template name="formContactName">
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" value="{{contactName}}" name="contact">
          <div class="input-group-btn">
            <button data-action="save"   type="submit" class="btn btn-success">Сохранить</button>
            <button data-action="cancel" type="button" class="btn btn-warning">Отменить</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</template>

<template name="profileOverview">
  {{#if edit}}
    {{>formOverview}}
  {{else}}
    <p>
      {{#if overview}}
        <div class="well">
          {{ overview }}
        </div>
      {{else}}
        <div class="alert alert-warning" role="alert">
          <i class="fa fa-exclamation-triangle"></i>
          Краткое описание не заполнено
        </div>
      {{/if}}
    </p>
    <button data-action="edit" class="btn btn-default">
      Редактировать
    </button>
  {{/if}}
</template>

<template name="formOverview">
  <form class="form-horizontal">
    <div class="form-group">
      <textarea placeholder="Например: Производим качественный и быстрый ремонт санузла. Большой опыт работ. Поможем с доставкой материалов"
                name="overview" class="form-control" rows="5">{{overview}}</textarea>
    </div>
    <div class="form-group">
      <button data-action="save"   type="submit" class="btn btn-success">Сохранить</button>
      <button data-action="cancel" type="button" class="btn btn-warning">Отменить</button>
    </div>
  </form>
</template>

<template name="profileDescribe">
  {{#if edit}}
    {{>formDescribe}}
  {{else}}
    <p>
      {{#if describe}}
        <div class="well">
          {{#markdown}}{{ describe }}{{/markdown}}
        </div>
      {{else}}
        <div class="alert alert-warning" role="alert">
          <i class="fa fa-exclamation-triangle"></i>
          Подробное описание не заполнено 
        </div>
      {{/if}}
    </p>
    <button data-action="edit" class="btn btn-default">
      Редактировать
    </button>
  {{/if}}
</template>

<template name="formDescribe">
  <form class="form-horizontal">
    <div class="form-group">
      <textarea name="describe" class="form-control" rows="10">{{describe}}</textarea>
    </div>
    <div class="form-group">
      <button data-action="save"   type="submit" class="btn btn-success">Сохранить</button>
      <button data-action="cancel" type="button" class="btn btn-warning">Отменить</button>
    </div>
  </form>
</template>

<template name="profileWebsite">
  {{#if edit}}
    {{>formWebsite}}
  {{else}}
    <div class="input-group">
      <span class="input-group-addon">
        {{#if website}}
          <a href="{{ website }}" target="_blank">{{ website }}</a>
        {{else}}
          Вебсайт не указан
        {{/if}}
      </span>
      <div class="input-group-btn">
        <button data-action="edit" class="btn btn-default">
          Изменить
        </button>
      </div>
    </div>
  {{/if}}
</template>

<template name="formWebsite">
  <form id="website" class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" value="{{currentWebsite}}" name="website">
          <div class="input-group-btn">
            <button data-action="save"   type="submit" class="btn btn-success">Сохранить</button>
            <button data-action="cancel" type="button" class="btn btn-warning">Отменить</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</template>

<template name="profileContacts">
  {{#if haveContacts}}
    {{>profileContactsTable TYPE="phone" ICON="fa-phone"    LABEL="Телефон"}}
    {{>profileContactsTable TYPE="fax"   ICON="fa-fax"      LABEL="Факс"}}
    {{>profileContactsTable TYPE="email" ICON="fa-envelope" LABEL="E-mail"}}
    {{>profileContactsTable TYPE="skype" ICON="fa-skype"    LABEL="Skype"}}
  {{else}}
    <div class="alert alert-warning" role="alert">
      <i class="fa fa-exclamation-triangle"></i>
      Вы не указали ни одного контакта
    </div>
  {{/if}}

  {{#if newContact}}
    {{>formNewContact}}
  {{else}}
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-plus-circle"></i>
        Добавить контакт <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" data-action="phone">
          <i class="fa fa-fw fa-phone"></i>
          Телефон</a></li>
        <li><a href="#" data-action="fax">
          <i class="fa fa-fw fa-fax"></i>
          Телефон/факс</a></li>
        <li><a href="#" data-action="email">
          <i class="fa fa-fw fa-envelope"></i>
          e-mail</a></li>
        <li><a href="#" data-action="skype">
          <i class="fa fa-fw fa-skype"></i>
          skype</a></li>
      </ul>
    </div>
  {{/if}}
</template>

<template name="profileContactsTable">
  {{#if contacts TYPE}}
    <table class="table table-striped table-condensed">
      <thead><tr><th>
        <i class="fa {{ICON}} fa-fw"></i>
        {{LABEL}}</th></tr></thead>
      <tbody>
        {{#each contacts TYPE}}
          <tr>
            {{> profileContactRow }}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</template>

<template name="profileContactRow">
  <td>
    {{formatContact}}
  </td>
  <td>
    <a href="#" data-action="rm">
      Удалить
    </a>
  </td>
</template>

<template name="formNewContact">
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa {{icon}} fa-fw"></i></span>
          {{#if isPhone}}
            <input name="contact" class="form-control bfh-phone"
                   data-format="+d (ddd) ddd-dd-ddd" value="{{defaultValue}}" type="text">
          {{else}}
          <input name="contact" class="form-control" placeholder="{{placeholder}}" autocomplete="off">
          {{/if}}
          <div class="input-group-btn">
            <button data-action="save"   type="submit" class="btn btn-success">Добавить</button>
            <button data-action="cancel" type="button" class="btn btn-warning">Отменить</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</template>

<template name="profileAvatar">
  <div class="av-container">
    <a href="{{avatarUrlBig}}" target="_blank">
      <img class="img-thumbnail" width="200" height="200" src="{{avatarUrlSmall}}">
    </a>
    <div class="input-group">
      <button data-action="avatar" class="btn btn-default btn-sm">Загрузить</button>
      {{#if haveAvatart}}
        <button data-action="remove" class="btn btn-warning btn-sm">Удалить</button>
      {{/if}}
    </div>
  </div>
</template>

<!-- Ниже шаблоны модальных окон -->

<template name="modalChangeLoginPhone">
  {{! Модалка}}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Смена номера телефона для входа на сайт</h3>
      </div>
      <div class="modal-body">
        <form id="sendSMS" class="form-horizontal">
          <fieldset>

            <div class="form-group">
              <label class="col-sm-5 control-label">
                Текущий номер телефона
              </label>
              <div class="col-sm-7">
                {{currentPhone}}
              </div>
            </div>

            {{>profileInputHelperPhone name="phone" label="Новый номер телефон"}}

            {{>profileSubmitButton text="Отправить код подтверждения" class="btn-primary"}}

          </fieldset>
        </form>
        {{! скрытая формочка, будет показана после отправки смс}}
        <form id="confirmSMS" class="form-horizontal" style="display:none">
          <fieldset>
            {{>profileInputHelper name="token" label="Код подтверждения" ac="off"
              icon="fa fa-lock" placeholder="СМС код"}}
            {{>profileSubmitButton text="Подтвердить изменение телефона" class="btn-success"}}
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="modalChangePassword">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Смена пароля</h3>
      </div>
      <div class="modal-body">
        <form id="password" class="form-horizontal">
          <fieldset>

            {{>profileInputHelper name="oldPwd" label="Старый пароль" type="password" icon="fa fa-lock"}}
            {{>profileInputHelper name="newPwd1" label="Новый пароль" type="password" icon="fa fa-lock"}}
            {{>profileInputHelper name="newPwd2" label="Повторите новый пароль" type="password" icon="fa fa-lock"}}

            {{>profileSubmitButton text="Сменить пароль" class="btn-success"}}

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</template>


<template name="modalAvatarSelect">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Загрузить фотографию</h3>
      </div>
      <div class="modal-body">
        {{#if isLoading}}
          {{> spinner}}
        {{/if}}
        <div class="av-container">
          <img class="img-thumbnail" width="200" height="200" src="{{avatarUrlSmall}}">
          <div class="input-group">
            <span class="btn btn-file  btn-primary">
              Загрузить... <input id="file" type="file">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="modalAvatarCrop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Обрезка фотографии</h3>
        <div class="modal-body">
          {{#if isLoading}}
            {{> spinner}}
          {{/if}}
          <div class="row">
            <img id="crop" class="img-thumbnail" src="{{avatarForCrop cropId}}">
          </div>
          <div class="row">
            <div id="avatar-preview-pane">
              <div class="avatar-container">
                <img id="preview" class="jcrop-preview" src="{{avatarForCrop cropId}}">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <button data-action="save" class="btn btn-primary">Сохранить</button>
              <button data-dismiss="modal" class="btn btn-default">Отменить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- 
          Вспомагательные шаблоны,
          
          TODO: вынести их кудато глобально, если будут повторятся
          -->

<template name="profileInputHelperPhone">
  <div class="form-group">
    <label class="col-sm-5 control-label" for="inputSuccess3">{{ label }}</label>
    <div class="col-sm-7">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
        <input name="{{ name }}"
               class="form-control bfh-phone" data-format="+d (ddd) ddd-dd-ddd" value="7" type="text">
      </div>
    </div>
  </div>
</template>

<template name="profileInputHelper">
  <div class="form-group">
    <label class="col-sm-5 control-label" for="inputSuccess3">{{ label }}</label>
    <div class="col-sm-7">
      <div class="input-group">
        <span class="input-group-addon"><i class="{{ icon }} fa-fw"></i></span>
        <input name="{{ name }}"
               autocomplete="{{ ac }}"
               class="form-control" type="{{ type }}"  placeholder="{{ placeholder }}">
      </div>
    </div>
  </div>
</template>

<template name="profileSubmitButton">
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-5">
      <button type="submit" class="btn {{class}}">{{ text }}</button>
    </div>
  </div>
</template>
