<template name="profileMenu">
  <ul class="nav nav-tabs">
    <li class="{{ifActiveRoute "/profile"}}">            <a href="/profile">Объявления, фото</a></li>
    <li class="{{ifActiveRoute "/profile/personal"}}">   <a href="/profile/personal">Личные данные</a></li>
    <li class="{{ifActiveRoute "/profile/messages"}}">
      <a href="/profile2">Сообщения <span class="badge">0</span></a></li>
    {{#if isAdmin}}
    <li class="{{ifActiveRoute "/users"}}">            <a href="/users">Пользователя</a></li>
    {{/if}}
  </ul>
</template>

<template name="myProfile">
  {{>profileMenu}}
  
  Тут будует мои 
</template>


<template name="myPersonal">
  {{>profileMenu}}

  Тут Регистрационные данные, Публикуемые данные
</template>

