<template name="profilePub">
  
  <h2>Работы, проекты, портфолио
    <button data-action="new-portfolio" class="btn btn-primary pull-right"><i class="fa fa-plus-circle"></i>Добавить</button>
  </h2>
  <div class="row">
    <div class="container">
      {{#each portfolio}}
        <div class="row">
          <div class="col-sm-3">
            <a href="/profile/portfolio/{{id}}">
              <img class="img-thumbnail" width="200" height="150" src="{{portfolioUrlImgPreview preview}}">
            </a>
          </div>
          <div class="col-sm-9">
            <div class="row">
              {{title}}
            </div>
          </div>
        </div>
        {{else}}
        <div class="jumbotron">
          <h3>Нет проектов</h3>
        </div>
      {{/each}}
    </div>
  </div>

</template>

