<template name="profilePersonal">
  {{>profileMenu}}
  <h1>Личные данные</h1>
  <legend>Регистрационные данные</legend>
  {{>profileInput label="Телефон (вход)" t="profileLoginPhone"
    popover="Этот телефон используется для входа на сайт, другие не видят его если не указан как контактной."
    }}
  {{>profileInput label="Пароль" t="profileChangePassword"
    popover="Ваш первый пароль был отправлен SMS на ваш телефон. Вы можете сменить его здесь."
    }}
  <legend>Публикуемые данные</legend>
  {{>profileInput label="Контактное лицо" t="profileContactName"
    popover="Вы можете оставить только инициалы, но людям приятно знать с кем имеют честь разговаривать."
    }}
  {{#if isMaster}}
    {{>profileInput label="Описание деятельности" t="profileOverview"
      popover="Краткое описание. Именно это увидят пользователи в каталоге исполнителей"
      }}
    {{>profileInput label="Подробное описание деятельности" t="profileDescribe"
      popover="Подробно опишите какие работы вы выполняете."
      }}
  {{/if}}
  <div id="profileModal" class="modal" role="dialog" arria-hidden="true">
    {{ > Template.dynamic template=currentModal }}
  </div>
</template>

<template name="profileInput">
  {{! bootstrap grid

        @label - описание поля
        @t - имя шаблона с виджетами
        @popover - текст подсказки

        }}
  <div class="row profile-input">
    <div class="col-sm-3">
      <p class="text-right">
        <label>
          {{label}}
        </label>
      </p>
    </div>
    {{#if popover}}
      <div class="col-sm-4" data-content="{{popover}}"
           data-title="{{label}}" data-placement="auto right" data-trigger="hover" data-toggle="popover" data-delay='{"show":"300", "hide":"100"}'>
        {{ > Template.dynamic template=t }}
      </div>
    {{else}}
      <div class="col-sm-4">
        {{ > Template.dynamic template=t }}
      </div>
    {{/if}}
  </div>
</template>

<!-- Ниже шаблоны полей профиля -->

<template name="profileLoginPhone">
  {{ currentPhone }}
  <a id="changeLoginPhone" href="#" class="btn btn-default">
    Изменить
  </a>
</template>

<template name="profileChangePassword">
  <a id="changePassword" href="#" class="btn btn-default">
    Изменить пароль
  </a>
</template>

<template name="profileContactName">
  {{#if edit}}
    {{>formContactName contactName=contactName}}
  {{else}}
    {{ contactName }}
    <a id="editContact" href="#" class="btn btn-default">
      Изменить
    </a>
  {{/if}}
</template>

<template name="formContactName">
  <form id="contact" class="form-horizontal">
    <fieldset>
      <div class="form-group has-feedback">
        <div class="input-group">
          <input class="form-control" value="{{contactName}}" name="contact">
          <div class="input-group-btn">
            <button id="save"   type="submit" class="btn btn-success">Сохранить</button>
            <button id="cancel" type="button" class="btn btn-warning">Отменить</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</template>

<template name="profileOverview">
  {{#if edit}}
    {{>formOverview}}
  {{else}}
    <p id="overviewText">
      {{ overview }}
    </p>
    <a id="editOverview" href="#" class="btn btn-default">
      Редактировать
    </a>
  {{/if}}
</template>

<template name="formOverview">
  <form id="formOverview" class="form-horizontal">
    <div class="form-group">
      <textarea name="overview" class="form-control" rows="5">{{overview}}</textarea>
    </div>
    <div class="form-group">
      <button id="save"   type="submit" class="btn btn-success">Сохранить</button>
      <button id="cancel" type="button" class="btn btn-warning">Отменить</button>
    </div>
  </form>
</template>

<template name="profileDescribe">
  {{#if edit}}
    {{>formDescribe}}
  {{else}}
    <p id="descText">
      {{#markdown}}{{ describe }}{{/markdown}}
    </p>
    <a id="editDescr" href="#" class="btn btn-default">
      Редактировать
    </a>
  {{/if}}
</template>

<template name="formDescribe">
  <form class="form-horizontal">
    <div class="form-group">
      <textarea name="describe" class="form-control" rows="10">{{describe}}</textarea>
    </div>
    <div class="form-group">
      <button id="save"   type="submit" class="btn btn-success">Сохранить</button>
      <button id="cancel" type="button" class="btn btn-warning">Отменить</button>
    </div>
  </form>
</template>

<!-- Ниже шаблоны модальных окон -->

<template name="modalChangeLoginPhone">
  {{! Модалка}}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Смена номера телефона для входа на сайт</h3>
      </div>
      <div class="modal-body">
        <form id="sendSMS" class="form-horizontal">
          <fieldset>

            <div class="form-group">
              <label class="col-sm-5 control-label">
                Текущий номер телефона
              </label>
              <div class="col-sm-7">
                {{currentPhone}}
              </div>
            </div>

            {{>profileInputHelperPhone name="phone" label="Новый номер телефон"}}

            {{>profileSubmitButton text="Отправить код подтверждения" class="btn-primary"}}

          </fieldset>
        </form>
        {{! скрытая формочка, будет показана после отправки смс}}
        <form id="confirmSMS" class="form-horizontal" style="display:none">
          <fieldset>
            {{>profileInputHelper name="token" label="Код подтверждения" ac="off"
              icon="fa fa-lock" placeholder="СМС код"}}
            {{>profileSubmitButton text="Подтвердить изменение телефона" class="btn-success"}}
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="modalChangePassword">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Смена пароля</h3>
      </div>
      <div class="modal-body">
        <form id="password" class="form-horizontal">
          <fieldset>

            {{>profileInputHelper name="oldPwd" label="Старый пароль" type="password" icon="fa fa-lock"}}
            {{>profileInputHelper name="newPwd1" label="Новый пароль" type="password" icon="fa fa-lock"}}
            {{>profileInputHelper name="newPwd2" label="Повторите новый пароль" type="password" icon="fa fa-lock"}}

            {{>profileSubmitButton text="Сменить пароль" class="btn-success"}}

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</template>

<!-- 
          Вспомагательные шаблоны,
          
          TODO: вынести их кудато глобально, если будут повторятся
          -->

<template name="profileInputHelperPhone">
  <div class="form-group has-feedback">
    <label class="col-sm-5 control-label" for="inputSuccess3">{{ label }}</label>
    <div class="col-sm-7">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
        <input name="{{ name }}"
               class="form-control bfh-phone" data-format="+d (ddd) ddd-dd-ddd" value="7" type="text">
      </div>
    </div>
  </div>
</template>

<template name="profileInputHelper">
  <div class="form-group has-feedback">
    <label class="col-sm-5 control-label" for="inputSuccess3">{{ label }}</label>
    <div class="col-sm-7">
      <div class="input-group">
        <span class="input-group-addon"><i class="{{ icon }} fa-fw"></i></span>
        <input name="{{ name }}"
               autocomplete="{{ ac }}"
               class="form-control" type="{{ type }}"  placeholder="{{ placeholder }}">
      </div>
    </div>
  </div>
</template>

<template name="profileSubmitButton">
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-5">
      <button type="submit" class="btn {{class}}">{{ text }}</button>
    </div>
  </div>
</template>
