<template name="profilePub">
  
  <h2>Работы, проекты, портфолио
    <button data-action="new-portfolio" class="btn btn-primary pull-right"><i class="fa fa-plus-circle"></i>Добавить</button>
  </h2>
  <div class="row voffset clearfix">
    <div class="container-fluid">
      {{#if portfolio}}
        <div class="row">
          {{#each portfolio}}
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 portfolioTile">
              <div class="row">
                <a href="/profile/portfolio/{{id}}">
                  <img class="img-thumbnail" width="200" height="150" src="{{portfolioUrlImgPreview preview}}">
                </a>
                <div class="ellipsis">
                  <a href="/profile/portfolio/{{id}}">
                    {{title}}
                  </a>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      {{else}}
        <div class="jumbotron">
          <h3>Нет проектов</h3>
        </div>
      {{/if}}
    </div>
  </div>

</template>

